<h3>Listade de Heroes</h3>

<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger"
>
  Borrar ultimo heroe
</button>

<div>
  <h3 *ngIf="deletedHero; else nothingWasDeleted">
    Héroe borrado <small class="text-danger">{{ deletedHero }} </small>
  </h3>
</div>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">
    {{ name }}
  </li>
</ul>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada.</h3>
</ng-template>
